# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

repomix-output.md



